.About{
    height:100vh;
    padding-top: 70px;
    color:blue;
    background:url(../imports/hammock2.jpg) no-repeat center center fixed;

}
.fa-arrow-circle-left{
    font-size:100px;
}
h3{
    color:white;
}
