.Apt-scheduler{
    display:flex;
    width:100vw;
    justify-content: center;
}
.Calendar-Container{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}