.Apt-scheduler{
    display:flex;
    width:100vw;
    justify-content: center;
}
.Calendar-Container{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    color:white;
}