.Apt-scheduler{
    display:flex;
    width:100vw;
    height:calc(100vh-100px);
    justify-content: center;
}
.Calendar-Container{
 
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}