@import '../variables';
.dashboard{
    margin-top:70px;
    min-height:calc(100vh - 70px);
    width:auto;
    background:url(../imports/card.jpg) no-repeat center center fixed;
    position: relative;
}
.avatar{
    border-radius:50%;
    height:auto;
    width:100px;
}
.hide-apt{
   transition: height .5s ease-in;
    background:transparent;
    display:flex;
    padding:0 80px;
    color:blue;
    width:75%;
    height:0px;
    overflow:hidden;
}
.show-apt{
    @extends .hide-apt;
    height:225px;
}
.appointment-list{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.dashboard2{
    margin-top: 70px;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.fa-calendar-alt:hover{
    color:red

}
.fa-calendar-alt{
    font-size:38px;
}
