@import '../variables';
.dashboard{
    padding-top:100px;
    min-height:100vh;
    height:100%;
    width:100vw;
    background:url(../imports/hammock2.jpg) no-repeat center center fixed;
}
.avatar{
    border-radius:50%;
    height:auto;
    width:100px;
}
.hide-apt{
   transition: height .5s ease-in;
    background:transparent;
    display:flex;
    padding:0 80px;
    color:blue;
    width:75%;
    height:0px;
    overflow:hidden;
}
.show-apt{
    @extends .hide-apt;
    height:225px;
}
.appointment-list{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.dashboard2{
    background: fixed;
    padding-top: 70px;
    background:transparent;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.fa-calendar-alt:hover{
    color:red

}
.fa-calendar-alt{
    font-size:38px;
}
.new{
    font-size:19px;
}
#time{
    color:white;
}
#date{
    color:white;
}