.Nav-bar{
    margin:0;
    display:flex;
    width:50%;
    justify-content: space-around;
    list-style-type:none;
    align-items:center;
}
.Menu{
    display:flex;
    height:100px;
    background-color:#bada55;
    width:100vw;
    justify-content:flex-end;
}
