header {
  z-index: 9999;
    position:fixed;
    background-color: #343a40;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    color: white;
  }
  nav {
    width: 100%;
    margin: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.good-burger {
    background-color:rgb(254, 3, 16);
    border: .5px solid white;
    border-radius: 5px;
    width: 75px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link-active {
    background-color:white;
    color:black;
  }
  .link-inactive {
    background-color:none;
  }
  
.ingredients {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
.ingredients>div {
    background-color: white;
    height: 3px;
    width: 70%;
  }
  
.nav-menu {
    display: none;
    justify-content: space-between;
    width: 700px;
  }
  
  @media (max-width: 576px)and
  (orientation:portrait) {
    nav {
      width: 540px;
    }
    h1,h2,h3{
      font-size: 1.5rem
    }
    .Welcome{
      justify-content: space-around;
    }
  } 
@media (min-width: 576px)and
  (orientation:portrait) {
    nav {
      width: 540px;
    }
    h1{
      font-size: 1.5rem
    }
    .Welcome{
      justify-content: space-around;
    }
  }
  
@media (min-width: 768px) {
    nav {
      width: 720px;
    }
    .Welcome{
        justify-content: space-around;
    }
  }
  
@media (min-width: 992px) {
    .good-burger {
      display: none;
    }
    .nav-menu {
      width:500px;
      display: flex;
      justify-content:space-around;
      z-index: 1;
    }
    nav {
      width: 1093px;
    }
    .mobile-nav{
      display:none;
    }
    .Welcome{
      justify-content: space-around;
  }
  }
  
@media (min-width: 1200px) {
    nav {
      width: 75%;
    }
    .nav-menu {
      width:500px;
      display: flex;
      justify-content:space-between;
    }
    .Welcome{
      justify-content: space-around;
  }
  }
  .mobile-nav{
    background-color: #343a40;
    padding:0 80px;
    position: fixed;
    z-index: 1;
    top:70px;
    color:white;
    width:100%;
    height:0px;
    overflow:hidden;
    transition:.5s height ease-in-out
  }
  .show-nav{
    height:85px;
  }
  .fa-sign-out-alt{
    font-size:30px;
  }